
html{
  background-color: #080808;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
  font-family: 'Poppins','sans-serif';
  background-color: #10121d;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: white;
}


#texto-svg{
  animation: logo 1000ms;
  transform-origin: center center;
}

@media screen and (min-width:1200px) {
  
  #header{
    width: 100%;
    height: 4em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #10121d;
    backdrop-filter: blur(5em);
    font-weight: bold;
  }
  
  #inner-header{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
  
  }
  
  .header-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30em;
  }
  
  .header-navbar a{
    transition: 0.3s;
    border-bottom: #182b99 solid 0.2em;
  }
  
  .header-navbar a:hover{
    transform: translateY(10%);
  }
  
  
  
  .greetings{
    margin-top: 4em;
    width: 100%;
    height: 35em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .greetings-main{
    width: 75em;
    height: 90%;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    justify-content: flex-start;
    align-items: center;
  }
  
  .greetings-main-wrapper
  {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .name{
    font-size: 2em;
    padding: 0;
    font-weight: bold;
    /* text-transform: uppercase; */
    /* color: #77dac9; */
    /* color: #fc5757; */
  }
  
  
  
  
  
  .subtitle{
    font-size: 3em;
    margin: 0;
    padding: 0;
    /* color: #5146bb; */
    color: rgb(190, 190, 190);
    
  }
  
  .about{
    width: 70%;
    font-size: 1em;
    font-weight: normal;
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }
  
  .tag{
    background-color: #182b99;
    color: white;
    border-radius: 0.3em;
    padding: 0.01em 0.5em 0.01em 0.5em;
  }
  
  .button:hover{
    background-color: #0a1558;
    border: #182b99;
    color: white;
  }
  
  .cv-buttons{
    margin-top: 3em;
    width:40%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins','sans-serif';
  }
  
  .buttons{
    margin-top: 3em;
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  
  .button{
    font-size: 1.15em;
    font-weight: bold;
    width: 45%;
    padding: 0.3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #182b99;
    border-style: none;
    /* border: 0.1em solid white; */
    border-radius: 0.2em;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button i{
    font-size: 1.3em;
  }
  
  .float-navbar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left:95%;
    z-index: 1;
    font-size: 1vw;
    width: 5em;
    height: 100em;
    justify-content: space-between;
    align-items: center;
  }
  
  .float-navbar-items{
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    height: 12%;
    justify-content: space-between;
  }
  
  .nav-bar-item{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .nav-bar-item-link{
  }
  
  .vertical-line{
    margin-left: 0.8em;
    width: 1em;
    height: 100em;
    border-left: 0.1em solid rgb(167, 167, 167);
  }
  
  .nav-bar-item:hover{
    transform: translateY(-10%);
  }
  
  .icon{
    font-size: 1.5vw;
  }
  
  
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .name{
      font-size: 3em;
    }
    
    .subtitle{
      font-size: 3em;
    }
  }
  
  @media only screen and (min-width: 1400px) and (max-width: 1599px) {
    .name{
      font-size: 3em;
    }
    
    .subtitle{
      font-size: 3em;
    }
  }
  
  
  @media only screen and (min-width: 1600px) and (max-width: 1799px) {
    .name{
      font-size: 3em;
    }
    
    .subtitle{
      font-size: 3em;
    }
  }
  
  
  @media only screen and (min-width: 1800px) {
    .name{
      font-size: 3em;
    }
    
    .subtitle{
      font-size: 3em;
    }
  }
  
  
  #projetos{
    width: 70em;
    height: 100%;
    margin: 0 auto;
  }
  
  
  #titulo{
    font-size: 3.7em;
    text-align: center;
    font-weight: bolder;
    font-family: 'Poppins';
    color: rgb(190, 190, 190);
  }
  
  .titulo-horizontal{
    width: 100%;
    border-top: 1em solid black;
  }
  
  .titulo-projeto{
    font-size: 2.3em;
    font-family: 'Poppins';
    font-weight: 700;
    color: #182b99;
    text-align: left;
    width: 100%;
  }
  
  .projeto{
  
    width: 70em;
  }
  
  .titulo-projeto a{
    color: #d8d8d8;
  }
  
  .titulo-projeto a:hover{
    color: #182b99;
  }
  
  
  .vertical-1vh{
    width: 100%;
    height: 1em;
  }
  .vertical-5vh{
    width: 100%;
    height: 5em;
  }
  
  .content{
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .info{
    width: 39%;
    height: 80%;
    border-radius: 0.3em;
    font-size: 1em;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
    text-align: left;
    
  }
  
  #stack{
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    display: flex;
    justify-content: flex-start;
  }
  
  #stack p{
    background-color: #182b99;
    padding: 0.5em 0.1em 0.5em 0.1em;
    border-radius: 0.3em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .img{
    width: 57%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  img{
    width: 100%;
    border-radius: 0.3em;
  }
  
  .nextimg{
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    padding: 0.5em;
    font-family: 'Poppins';
    color: #7168c5;
    font-weight: bold;
  }
  
  .marcatexto{
    color: #7168c5;
  }
  
  .external{
    color: #7168c5;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
  }
  
  
  .external:hover{
    color: #182b99;
  }
  
  
  .Skills,.About,.Contact{
    width: 70em;
    height: 100%;
    margin: 0 auto;
  }
  
  .skill-row{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .skill{
    background-color: #182b99;
    font-size: 1.1em;
    width: 20%;
    border-radius: 0.15em;
    margin: 0.3em 0.5em 0.3em 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em 0.5em 0.4em 0.5em;
    
  }
  
  
  .skill i{
    font-size: 1.5em;
  }
  
  .rgood{
    background-color: #02105c;
  }
  .good{
    background-color: #1b2a85;
  }
  .ok{
    background-color: #5463b8;
  }
  
  
  .about-text{
    font-size: 1.3em;
  }
  
  .underline{
    border-bottom: 0.2em solid #182b99;
  }
  
  .contact-button{
    padding: 1.5em 2em 1.5em 2em;
  }
  
  .Contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

  /* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #555 #10121d;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1.5em;
}

*::-webkit-scrollbar-track {
  background: #10121d;
}

*::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 1em;
  border: 0.5em solid #10121d;
}


@media only screen and (max-width: 1199px)
{
  /*mobile*/

  .Header{
    display: none;
  }

  .float-navbar{
    display: flex;
    position: absolute;
    top: 1%;
    left:15%;
    z-index: 1;
    font-size: 1vw;
    width: 70%;
    height: 8em;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  
  .float-navbar-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-bar-item{
    display: flex;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1em;
  }

  .icon{
    font-size: 1em;
  }

  .vertical-line{
    display: none;
  }

  .greetings{
    margin-top: 4em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .greetings-main{
    width: 75em;
    height: 90%;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    justify-content: flex-start;
    align-items: center;
  }
  
  .greetings-main-wrapper
  {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .name{
    font-size: 2em;
    padding: 0;
    font-weight: bold;
    /* text-transform: uppercase; */
    /* color: #77dac9; */
    /* color: #fc5757; */
  }
  
  
  
  
  
  .subtitle{
    font-size: 3em;
    margin: 0;
    padding: 0;
    /* color: #5146bb; */
    color: rgb(190, 190, 190);
    
  }
  
  .about{
    width: 70%;
    font-size: 1em;
    font-weight: normal;
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }
  
  .tag{
    background-color: #182b99;
    color: white;
    border-radius: 0.3em;
    padding: 0.01em 0.5em 0.01em 0.5em;
  }
  
  .button:hover{
    background-color: #0a1558;
    border: #182b99;
    color: white;
  }

  .cv-buttons{
    margin-top: 3em;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins','sans-serif';
    align-items: center;
  }

  .button{
    font-size: 1.15em;
    margin-bottom: 1em;
    font-weight: bold;
    width: 75%;
    padding: 0.3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #182b99;
    border-style: none;
    /* border: 0.1em solid white; */
    border-radius: 0.2em;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #projetos{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:5em;
  }
  .Projeto{
    width: 70%;
    margin: 0 auto;
  }

  .projeto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  .inner-projetos{
    width: 90%;
  }
  

  .content{
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info{
    width: 91%;
    height: 80%;
    border-radius: 0.3em;
    font-size: 1em;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  #stack{
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  
  #stack p{
    background-color: #182b99;
    padding: 0.5em 0.1em 0.5em 0.1em;
    border-radius: 0.3em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .external{
    color: #7168c5;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
  }


  .img{
    width: 20em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    object-fit: cover;
  }
  
  img{
    /* height: 15em; */
    width: 100%;
    object-fit: cover;
    border-radius: 0.3em;
  }

  .Skills,.About,.Contact{
    width: 95%;
    height: 100%;
    margin: 0 auto;
  }

  .skill-row{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .skill{
    background-color: #182b99;
    font-size: 1.1em;
    width: 70%;
    border-radius: 0.15em;
    margin: 0.3em 0.5em 0.3em 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em 0.5em 0.4em 0.5em;
    
  }

  .skill i{
    font-size: 1.5em;
  }
  
  .rgood{
    background-color: #02105c;
  }
  .good{
    background-color: #1b2a85;
  }
  .ok{
    background-color: #5463b8;
  }

  .titulo-projeto{
    font-size: 2.3em;
    font-family: 'Poppins';
    font-weight: 700;
    color: #182b99;
    text-align: center;
    width: 100%;
  }

  .nextimg{
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    padding: 0.5em;
    font-family: 'Poppins';
    color: #7168c5;
    font-weight: bold;
  }
  
  .marcatexto{
    color: #7168c5;
  }
  
  .external{
    color: #7168c5;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
  }
  
  
  .external:hover{
    color: #182b99;
  }

  .about-text{
    font-size: 1.3em;
  }
  
  .underline{
    border-bottom: 0.2em solid #182b99;
  }
  
  .contact-button{
    padding: 1.5em 2em 1.5em 2em;
  }

  .Contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #titulo{
    font-size: 3.7em;
    text-align: center;
    font-weight: bolder;
    font-family: 'Poppins';
    color: rgb(190, 190, 190);
  }

}




